<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main}">
<body>
<main layout:fragment="content">
    <h2>Danh sách Category</h2>

    <!-- Form tìm kiếm -->
    <form method="get" th:action="@{/category}">
        <label>
            <input type="text" name="keyword" th:value="${keyword}" placeholder="Tìm kiếm..."/>
        </label>
        <button type="submit">Tìm</button>
    </form>
    <a th:href="@{/admin/category/add}">+ Thêm mới</a>
    <table border="1" cellpadding="5" cellspacing="0">
        <tr>
            <th>ID</th>
            <th>Tên</th>
            <th>Hành động</th>
        </tr>
        <tr th:each="c : ${categories}">
            <td th:text="${c.cateId}"></td>
            <td th:text="${c.cateName}"></td>
            <td>
                <a th:href="@{/admin/category/edit(id=${c.cateId})}">Sửa</a>
                <form th:action="@{/admin/category/delete}" method="post" style="display:inline"
                      onsubmit="return confirm('Bạn có chắc muốn xóa?')">
                    <input type="hidden" name="id" th:value="${c.cateId}" />
                    <button type="submit">Xóa</button>
                </form>
            </td>
        </tr>
    </table>
    <div>
        <a th:href="@{/admin/product}" class="btn btn-primary">Quản lý sản phẩm</a>
    </div>
    <div>
        <span th:each="i : ${#numbers.sequence(0, totalPages-1)}">
            <a th:href="@{|/admin/home?page=${i}&keyword=${keyword}|}"
               th:text="${i+1}"
               th:classappend="${i==currentPage} ? 'active'"></a>
        </span>
    </div>

</main>
</body>
</html>
